<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_gernibide_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_gernibide_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GernikApp">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <!-- Actividades principales -->
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MapaActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".UserEditActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".AboutActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ZoneCompletionActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <!-- Actividades del fronton -->
        <activity
            android:name=".fronton.CestaTipActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".fronton.DancingBallActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".fronton.InfoActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".fronton.MainActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".fronton.ValuesGroupActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <!-- Actividades de la Plaza Gernika -->
        <activity
            android:name=".plaza.DragProductsActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".plaza.PhotoMissionActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".plaza.MainActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".plaza.VideoActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".plaza.VerseGameActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <!-- Actividades de picasso -->
        <activity
            android:name=".picasso.ColorPeaceActivity"
            android:screenOrientation="landscape"
            android:exported="false"
            android:resizeableActivity="true" />
        <activity
            android:name=".picasso.MyMessageActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".picasso.MainActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".picasso.ResultActivity"
            android:screenOrientation="landscape"
            android:exported="false"
            android:resizeableActivity="true" />
        <activity
            android:name=".picasso.ViewInterpretActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <!-- Actividades de arbol -->
        <activity
            android:name=".arbol.MainActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".arbol.AudioQuizActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".arbol.InteractiveActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".arbol.PuzzleActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <!-- Actividades de bunkers -->
        <activity
            android:name=".bunkers.MainActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".bunkers.PeaceMuralActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".bunkers.ReflectionActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".bunkers.SoundGameActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

    </application>

</manifest>